.expertise-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 90%;
    overflow: hidden;
    background-color: var(--primary-blue);
    border-radius: 0 0 60px 60px;
    box-shadow: 0px 4px 4px 0px #202011;
}

.expertise-specialty-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    padding-top: 40px;
    position: relative;
}

.expertise-specialty-container:hover .expertise-title {
    color:white;
}

.expertise-specialty-container:first-child:after {
    height: 0 !important;
}

.expertise-specialty-selcted {
    background-color: rgba(255, 255, 255, 0.071);
}

.expertise-title {
    margin: 20px auto 6px;
    font-size: 16px;
    color: var(--primary-gray);
    font-family: 'Noto bold';
    transition: .3s;
}

.expertise-description {
    font-size: 16px;
    width: 70%;
    font-size: 16px;
    color: var(--primary-gray);
}

.expertise-img {
    height: 20px;
}

.expertise-btn {
    margin-top: 80px;
    width: 260px;
    font-size: 18px;
    background-color: var(--primary-blue);
    border-color: var(--primary-blue);
}
.expertise-btn:hover {
    background-color: var(--primary-blue);
    border-color: var(--primary-orange);
}

.specialty-projects-container-inside-display {
    display: none;
}

.display-projects-container-outside-display {
    width: 80%;
}

.display-projects-container-outside-display.active {
    animation: transitionFadeIn 0.75s;
}

@keyframes transitionFadeIn {
    from {
        opacity: 0;
        transform: trnslateY(-10deg);
    }

    to {
        opacity: 1;
        transform: trnslateY(0);
    }
}

@keyframes transitionSlide {
    from {
        transform: translateY(-200px);
    }

    to {
        transform: translateY(0px);
    }
}


@media screen and (min-width: 541px) {

    .expertise-specialty-container:after {
        content: '';
        height: 30%;
        /* //You can change this if you want smaller/bigger borders */
        width: 1px;

        position: absolute;
        right: 0;
        top: 35%;
        /* // If you want to set a smaller height and center it, change this value */

        background-color: var(--primary-gray);
        /* // The color of your border */
    }
}

@media screen and (max-width: 540px) {

    .expertise-container {
        width: 100%;
        flex-direction: column;
    }

    .display-projects-container-outside-display {
        display: none;
    }

    .specialty-projects-container-inside-display {
        display: initial;
        /* text-align: right; */
    }

    .projects-inside-display {}

    .projects-inside-display.active {

        animation: transitionSlide 0.75s, transitionFadeIn 1000ms;
    }

    .specialty-projects-title {
        display: none;
    }

    .expertise-btn {
        display: none;
    }
}