.expertise-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    background-color: var(--primary-blue);
    /* border-radius: 0 0 60px 60px; */
    box-shadow: 0px 4px 4px 0px #202011;
}

.expertise-specialty-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    padding-top: 40px;
    position: relative;
}

@supports not (-webkit-touch-callout: none) {
    /* CSS for other than iOS devices */ 
    .expertise-specialty-container:hover {
        background-color: rgba(255, 255, 255, 0.071);
    }
}


.expertise-specialty-container:hover .expertise-title {
    color:white;
}

.expertise-specialty-container:first-child:after {
    height: 0 ;
}

.expertise-specialty-selcted {
    background-color: rgba(255, 255, 255, 0.071);
}

.expertise-title {
    margin: 20px auto 6px;
    font-size: 16px;
    color: var(--primary-gray);
    font-family: 'Noto bold';
    transition: .3s;
}

.expertise-description {
    font-size: 16px;
    width: 70%;
    font-size: 16px;
    color: var(--primary-gray);
}

.expertise-img {
    height: 40px;
}

.expertise-btn {
    margin-top: 80px;
    width: 260px;
    font-size: 18px;
    background-color: var(--primary-blue);
    border-color: var(--primary-blue);
}
.expertise-btn:hover {
    background-color: var(--primary-blue);
    border-color: var(--primary-orange);
}

.specialty-projects-container-inside-display {
    display: none;
}

.display-projects-container-outside-display {
    width: 80%;
}

.display-projects-container-outside-display.active {
    animation:  openDisplay 1s;
}


@media screen and (min-width: 541px) {

    .expertise-specialty-container:after {
        content: '';
        height: 30%;
        /* //You can change this if you want smaller/bigger borders */
        width: 2px;

        position: absolute;
        right: 0;
        top: 35%;
        /* // If you want to set a smaller height and center it, change this value */

        background-color: #cdcfcf25;
        /* // The color of your border */
    }
}

@media screen and (max-width: 540px) {
    
    .expertise-container {
        width: 100%;
        flex-direction: column;
        border-radius: 0 0 60px 60px;
    }

    .display-projects-container-outside-display {
        display: none;
    }

    .specialty-projects-container-inside-display {
        display: initial;
        /* text-align: right; */
    }

    .projects-inside-display {}

    .projects-inside-display.active {
        animation:  openDisplay 1s;
    }

    .specialty-projects-title {
        display: none;
    }

    .expertise-btn {
        display: none;
    }

    .expertise-specialty-container{
        
        padding: 30px 20px;
    }
    
    .expertise-specialty-container:after {        
        content: '';
        height: 1px;
        /* //You can change this if you want smaller/bigger borders */
        width: 10%;

        position: absolute;
        bottom: 0;
        left: 45%;
        /* // If you want to set a smaller height and center it, change this value */

        background-color: #cdcfcf25;
        /* // The color of your border */
    }
    .expertise-specialty-container:first-child:after {
        height: 1px ;
    }
/**/
    .expertise-specialty-container:last-child:after {
        height: 0px ;
    }
}