.references-container{        
    display: flex;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
}

.references-container img {
    transition: 0.3s;
}

.references-container img:hover {
    transform: scale(1.2);
}

.whatsapp-icon img {
    height: 40px;
    width: 40px;
}

.phonecall-icon img {
    height: 30px;
    width: 30px;
    background-color: var(--primary-orange);
    border-radius: 60%;
}

.facebook-icon img {
    height: 33px;
    width: 33px;
}

.instagram-icon img {
    height: 38px;
    width: 38px;
    margin-right: 2px;
}

.email-icon img {
    height: 28px;
    width: 28px;
    background-color: var(--primary-gray);
    border-radius: 60%;
    margin-right: 4px;
}